.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    
    
  }

  .show-hide {
      border: none;
      background: none;
      font-weight: bold;

      
  }



  .saveHeart {
    opacity: 0.4;
    color: rgb(32, 92, 172);
  }
  .saveHeart:hover{
    color:#e03f3f;
    opacity: 1;
  }

  .delHeart {
    color:#e03f3f;
    opacity: 1;
  }
  .delHeart:hover{
    opacity: 0.4;
    color: rgb(32, 92, 172);
  }



  .create-review-button {
      border: none;
      background: none;
      text-decoration: underline;
      font-size: 16px;
      font-weight: bolder;
      color: rgb(58, 59, 61);
  }

 .create-review-button:hover {
    color: rgb(98, 100, 100);
  }

  .create-review-button:active {
    color: rgb(0, 0, 0);
  }


  .wrap-star {
    display: flex;
    justify-content: center;
    width: 100px auto;
    /*margin-top: 20px;*/
  }
   
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: rgb(196, 196, 196);
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
  }
   
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }


.reviewWrap {
    display: flex;
    margin-top:30px;
}

.see-review{
    width: 75%;
    margin-top: 30px;
    
}

.create-review {
    width: 30%;
    padding: 0px 34px;
    display: flex;
    justify-content: center;
}

.label-for-rating {
    margin-bottom: -20px;
}
.label-for-name {
    margin-top:-50px;
}

.inCardText:hover {
    color: rgb(98, 100, 100);

}



.wrap-restaurantpage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
  background-color: rgb(255, 255, 255);
   /* background-color: rgb(252, 252, 252);*/    
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(49, 44, 44);
  
}

.breadCrumbs{
    padding: 20px;
}

.rate1{
    width: 50px;
    height: 50px;
}

.dv-star-rating-input {
    width: 50px;
    height: 50px;
}

.restaurantPage{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100vh auto;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(49, 44, 44);
   
   
}



.modalImage {
    width: 700px;
    max-height: 420px;
   
   
}

.styles_modal__gNwvD{
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    height: 100% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.restaurantName {
    font-size: 10px;
}
/*
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    background-color: rgb(175, 58, 54);
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.315);
    box-shadow: 1px 1px 5px rgb(182, 102, 49);
   
    
}*/

/* Keep navLinks here */
.navItem {
    color: rgb(63, 63, 63);
  /*  color: white; */
    font-size: 18px;
    font-weight: bolder;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
}

.selected {
    text-decoration: underline;
    color: rgb(46, 46, 46);
}

#app {
    background-color: #ffffff;
}

.heart{
    color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 20px;
}

p{
    margin-top: -5px;
    font-size: 15px;
}

.infoWrapper{
    display: flex;
    justify-content: flex-end;
    height: 200px auto;
    width: 100%;
   
}

.nameR {
    margin-left:35px;
}

.boxOne {
    width: 100%;

    display: flex;
    flex-direction: column;
  
 
}

.boxTwo {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 34px;

}

.rateDiv, .saveDiv {
    margin:4px;
}


.rateDiv {
    width: 150px;
}

.delButton {
    width: 150px;
    height: 25px;
    border-style: none;
    background: #e03f3f;
    border-radius: 3px;
    color: white;
    box-shadow: 3px 2px 4px#a52626;
    cursor: pointer;
}
.saveButton{
    width: 150px;
    height: 25px;
    border-style: none;
   background: rgb(32, 92, 172);
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgb(24, 71, 131);
    cursor: pointer;
    color: white;
}
.categoryButton {
    cursor: pointer;
    margin: 2%;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.categoryNavItem {
    color: rgb(15, 15, 15);
    text-decoration: none;
    margin: 10%;
}

.selectedCategory {
    color: rgb(231, 227, 227);
    text-decoration: underline;
}


.restaurant-page-wrap-items {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 130px;
}

.restaurant-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.restaurantItem {
    display: flex;
    justify-content: center;

}

.faArrowLeft {
    font-size: 22px;
    cursor: pointer;
}

.faArrowLeft:hover {
    color: rgb(112, 112, 112);
}

.closeBtn {
    width: 80px;
    position: relative;
    top:0;
}
.restaurant-category-wrap {
    margin-top:2%;
}



.wrap-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
   /* background-color: rgb(252, 252, 252);*/    

}

.savePage {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/wall.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
}

/*
.carouselImg {
   height: 440px;

}*/

.textBox {
margin-right: 5%;
width: 600px;
height: 440px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column

}

.carousel {
    margin-left: 5%;
}

.wrapTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
    margin-top: 100px;
}

.wrapBottom {
    display: flex;
    flex-direction: column;;
    width: 100%;
    height: 50%;
    align-items: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 30%;
    width: 100%;
}