


<<<<<<< HEAD
=======
.inCardText:hover {
    color: rgb(98, 100, 100);
}

.breadCrumbs{
    padding: 20px;
}

.rate1{
    width: 50px;
    height: 50px;
}

.dv-star-rating-input {
    width: 50px;
    height: 50px;
}


#app {
    background-color: #ffffff;
}



>>>>>>> 2d9cea4a83be8e4e56eccdb1ebae29948207577d

