
body {
    padding: 0px 40px 20px 40px;
}
.styles_modal__gNwvD {
    width: 110vh;
    min-height: 80vh;
    background-color: rgb(255, 240, 212);
    
}

.collapse  {
    width: 100%;
}


#navbar{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(255, 240, 212);
    width: 100%;  
 /* transform: translateX(-220px);*/

  }
/*
  .show {
    transition: all 1s ease-out;
  }
  .slide {
      z-index: 0;
      animation: slide 1s ease-out forwards;
  }

   @keyframes slide {
       0% {
           transform: translateY(0%)
       }

       100% {
           transform: translateY(80%)
       }
   }
*/
  /*
#navbar.slideIn {
  transform: translateY(0);
}
#navbar.slideOut {
  transform: translateY(100%);
}
*/
